html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: xxx-large;
}
body {
  color: coral;
  background-color: cornflowerblue;
  text-align: center;
  margin: 50px auto;
}
a {
  color: coral;
}
a:hover {
  color: rgb(0, 4, 255);
}
.class {
  font-size: x-large;
}
ul {
  list-style-position: inside;
}
ol {
  list-style-position: inside;
}
